
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

#viewmemories {
    padding-top: 5%;
    margin-top: -5%;
}
#upcomingtournaments {
    padding-top: 5%;
    margin-top: -5%;
}
#partners {
    padding-top: 5%;
    margin-top: -5%;
}
#followus {
    padding-top: 5%;
    margin-top: -5%;
}
#aboutus {
    padding-top: 5%;
    margin-top: -5%;
}